.btn {
    position: relative;
    display: inline-block;
    top: 80px;
    height: 40px;
    width: 100px;
    margin: 1px;
    border-radius: 5px;
    background-color: aquamarine;
    cursor: pointer;
}